<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Citas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quotes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addQuote()">
    <ion-item>
      <ion-label position="floating">Frase</ion-label>
      <ion-input [(ngModel)]="newQuote.text" name="phrase"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input [(ngModel)]="newQuote.author" name="author"></ion-input>
    </ion-item>
    @for (err of errorMessages; track $index) {
      <ion-text color="danger">{{ err }}</ion-text><br />
    }
    <ion-button expand="block" type="submit">Agregar</ion-button>
  </form>

  <ion-list>
    @for (q of quotes; track q.id) {
      <ion-item>
        <ion-label>
          <h2>{{ q.text }}</h2>
          <p>{{ q.author }}</p>
        </ion-label>
        <ion-button color="danger" (click)="deleteQuote(q.id)">Eliminar</ion-button>
      </ion-item>
    }
  </ion-list>
</ion-content>
