<ion-header>
  <ion-toolbar>
    <ion-title>Cita Aleatoria</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/manage'">Gestionar</ion-button>
      <ion-button routerLink="/settings">Config</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content class="ion-padding">
  @if (randomQuote) {
    <ion-card>
      <ion-card-content>
        <p>{{ randomQuote.text }}</p>
        <p class="author">{{ randomQuote.author }}</p>
      </ion-card-content>
    </ion-card>

    @if (allowDeleteOnRandom) {
      <ion-button color="danger" (click)="deleteQuote()">Eliminar</ion-button>
    }
    <ion-button (click)="loadRandomQuote()">Otra Cita</ion-button>
  } @else {
    <p>No hay citas disponibles.</p>
  }
  </ion-content>