<ion-header>
  <ion-toolbar>
    <ion-title>Cita Aleatoria</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/manage'">Gestionar</ion-button>
      <ion-button routerLink="/settings">Config</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <h2>{{ randomQuote.text }}</h2>
      <p class="ion-text-right">— {{ randomQuote.author }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="getRandomQuote()" color="primary">Otra...</ion-button>
</ion-content>
